<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/metadata'); -%>
    <title>Smoothies | Main Page</title>
</head>

<body>
    <main>
        <%- include('./partials/header-nav'); -%>
        <header id="header">
                <img src="/assets/images/smoothie.png" alt="Smothie image" class="picture" />
                <div class="wrapper">
                    <div class="hgroup">
                        <h1 class="hgroup__heading">Smothie Recipes</h2>
                        <h4 class="hgroup__heading">By Pablo Fonseca</h3>
                    </div>
                    <a class="button button--yellow" href="/smoothies">View Recipes</a>
                </div>
        </header>
    </main>
    <%- include('./partials/footer'); -%>
</body>

</html>