<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/metadata'); -%>
    <title>Smoothies | Main Page</title>
</head>

<body>
    <%- include('./partials/header'); -%>
    <main>
        <h1>Sign Up</h1>
    </main>
    <%- include('./partials/footer'); -%>
</body>