<nav>
    <ul id="primary-navbar">
        <li class="primary-navbar__item">
            <a class="primary-navbar__link" href="/">
                <span class="primary-navbar__span">Pablo's Smothies</span>
            </a>
        </li>
    </ul>
</nav>